<tr id="todo_<%= todo.id %>">
  <td id="todo_toggle_<%= todo.id %>">
  <% if todo.active? %>
    <input
      checked="true"
      type="checkbox"
      id="todo_active_<%= todo.id %>"
      data-action="click->todo#toggle"
      data-todo_id="<%= todo.id %>"
    >
  <% else %>
    <input
      type="checkbox"
      id="todo_active_<%= todo.id %>"
      data-action="click->todo#toggle"
      data-todo_id="<%= todo.id %>"
    >
  <% end %>
  </td>
  <td><%= todo.title %></td>
  <td><%= actived?(todo) %></td>
  <td>
  <button
    id="button_delete_<%= todo.id %>"
    class="todos-delete btn btn-danger btn-sm"
    data-action="click->todo#delete"
    data-confirm="destroy?"
    data-todo_id="<%= todo.id %>"
  >Delete</button></td>
</tr>